@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/css/font-awesome.min.css';

#body {
  font: normal 14px/18px Verdana;
  color: #58575c;
  background-color: #f2f7f8;

  /* Login */
  .login{
    width: 600px;
    margin: 8% auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);

    .alert{
      width: 90%;
    }

    .logobox{
      background-color: #0178bc;
      border-top-left-radius: 20px;
	    border-bottom-left-radius: 20px;
      .logo{
        margin: 80% auto;
        text-align: center;
      }
    }

    .login-form{
      padding: 20px 30px; 
      h3{
        padding-bottom: 20px;
      }     
      label, input{
        font-size: 16px;
        display: block;
      }
      .form-group{
        padding-top: 5px;
      }
      .form-control{
        width: 90%;
        padding: 3px 5px;
        font-size: 12px;
      }

      button{
        margin-right: 10px;
      }
      
    }
  }

  /* Header */
  header {
    background-color: #0178bc;
    color: #fff;
    padding: 20px 30px 10px;
    .logo{
      float: left;
      width: 20%;
    }
    .title{
      float: left;
      width: 60%;
      text-align: center;
      font-size: 20px;
      line-height: 26px;
    }
    .user{
      float: left;
      width: 20%;
      line-height: 30px;
      text-align: right;
      p{
        display: inline-block;
      }
      button{
        margin-left: 15px;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
    
  }

  /* Footer */
  footer{
    background-color: #fff;
    border-top: 1px solid #E8E8E8;
    text-align: center;
    padding: 15px 0;
    font-size: 11px;
  }

   /* Menu */
   .page-wrapper {
    display: table;
    width: 100%;
    nav, .page {
      float: none;
      display: table-cell;
      vertical-align: top;
    }
   }

   nav{
    width: 15%;
    background: #fff;
    box-shadow: 12px 0px 10px -4px #DCDCDC;
    color: #fff; 
    height: 80vh;
    
    ul{
      margin: 0;
      padding: 5px 0 0 0;
      li{
        list-style-type: none;
        text-align: left;
        padding: 20px 30px;
        a{
          text-decoration: none;
          color: #666;
          display: block;
          font-size: 16px;
          position: relative;
          svg{
            float: right;
            font-size: 22px;
          }
          &:hover:after {
            background-color: #06c;          
            box-sizing: border-box;
            content: "";
            display: block;
            height: 3px;
            left: 0;            
            width: 50px;
            position: absolute;
            bottom: -10px;
          }
          &:hover {
            color: #06c;
          }
        }

        .active {
          color: #06c;
          &:after{
            background-color: #06c;          
            box-sizing: border-box;
            content: "";
            display: block;
            height: 3px;
            left: 0;            
            width: 50px;
            position: absolute;
            bottom: -10px;
          }
        }        
      }
    }    
   }

  /* Page */
  .page{
    width: 85%;
    padding: 20px 30px;

    .title{
      font-size: 18px;
    }
    
    .filter{
      margin: 0 5px 20px 0;
      float: right;
      .search-label{
        display: block;
        padding-top: 10px;
        font-size: 14px;
        font-weight: bold;
        margin: 0 20px;
      }
      .btn-search{
        margin-left: 20px;
      }
    }

    .hosts{
      table{
        margin-top: 20px;
        background-color: #fff;
      }
      
    }
  }

}

/****************** ATOS Theme */

.hide-content{
  display: none;
}

.show-content{
  display: block!important;
}

.loading-indicator:before {
  content: '';
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: .1;
}

.loading-indicator:after {
  content: 'Loading...';
  position: fixed;
  width: 100%;
  top: 7%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-size:1rem;        
}

/**
*****************************************************************************************
SEARCH BOX CSS
 * Main wrapper
 */
 .select-search {
  width: 215px;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
* Input
*/
.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
  background: #fff;
  box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
}

/**
* Options
*/
.select-search__options {
  list-style: none;
  padding: 0;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: #2FCC8B;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #2eb378;
  color: #fff;
}

/**
* Group
*/
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

/**
* Modifiers
*/
.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #2FCC8B;
}


.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}
